<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-left">
                <p>Follow Us</p>
                <a href="https://www.facebook.com/RobynCapital" target="_blank">
                    <img src="./img/footer/facebook.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/company/robyncapital/" target="_blank">
                    <img src="./img/footer/linkedin.svg" alt="">
                </a>
            </div>
            <div class="footer-right">
                <a href="https://robyncapital.com/terms-and-conditions/" target="_blank"> Terms & Conditions</a>
                <a href="https://robyncapital.com/privacy-policy/" target="_blank">Privacy Policy</a>
                <hr>
                <span>All Rights Reserved, Robyn Capital 2020</span>
            </div>
        </div>
    </div>
</footer>
