<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-left">
                <a href="/" class="header-left__item">
                    <img width="132" height="86" src="./img/logo.png" alt="">
                </a>
            </div>
            <div class="header-right">
                <div class="header-right__item">
                    <a href="https://robyncapital.com/request-funding/?tab=get-started" target="_blank" class="button nav-link  primary-btn">
                        <span>Request Funding</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
